<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pairing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!--navbar-->
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">
                <img src="/static/logo_full.jpg" alt="Logo" class="logo">
            </a>
        </div>

        <div class="nav-center">
            <a href="/">Home</a>
            <a href="/handbook">Handbook</a>
            <a href="/history">History</a>
            <a href="/aboutyou">About you</a>
        </div>

        <div class="nav-right">
            {% if session.get('username') %}
            <span>Welcome, {{ session['username'] }}!</span>
            <a href="/logout" class="btn-solid">Logout</a>
            {% else %}
            <a href="/login" class="btn-solid">Sign In</a>
            <a href="/register" class="btn-solid">Register</a>
            {% endif %}
        </div>
    </nav>
    <h1>Explore MBTI Pairing</h1>
    <p>Discover interesting MBTI matchups!</p>
    <div class="matching-box">
        <table>
            <thead>
                <tr>
                    <th>MBTI Type</th>
                    <th>Best Match</th>
                </tr>
            </thead>
            <tbody>
                {% for mbti, matches in matching.items() %}
                <tr>
                    <td>{{ mbti }}</td>
                    <td>{{ matches['best_match'] | join(', ') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>